<div class="form-container">
  <h2>{{ "plant.AddPlant" | translate }}</h2>
  <form [formGroup]="plantForm" (ngSubmit)="onSubmit()">
    <div>
      <label>{{ "plant.name" | translate }}:</label>
      <input formControlName="name" />
      <div
        class="errorMessage"
        *ngIf="
          plantForm.controls['name']?.touched &&
          plantForm.controls['name']?.invalid
        "
      >
        <samp *ngIf="plantForm.controls['name']?.errors?.['required']">
          {{ "massages.nameRequired" | translate }}
        </samp>
      </div>
    </div>

    <div>
      <label>{{ "plant.category" | translate }}:</label>
      <select formControlName="category">
        <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
      </select>
      <div
        class="errorMessage"
        *ngIf="
          plantForm.controls['category']?.touched &&
          plantForm.controls['category']?.invalid
        "
      >
        <samp *ngIf="plantForm.controls['category']?.errors?.['required']">
          {{ "massages.categoryRequired" | translate }}
        </samp>
      </div>
    </div>

    <div>
      <label>{{ "plant.price" | translate }}:</label>
      <input type="number" formControlName="price" />
      <div
        class="errorMessage"
        *ngIf="
          plantForm.controls['price']?.touched &&
          plantForm.controls['price']?.invalid
        "
      >
        <samp *ngIf="plantForm.controls['price']?.errors?.['required']">
          {{ "massages.priceRequired" | translate }}
        </samp>
      </div>
    </div>

    <div>
      <label>{{ "plant.description" | translate }}:</label>
      <textarea formControlName="description"></textarea>
    </div>

    <div>
      <label>{{ "plant.image" | translate }}:</label>
      <input type="file" (change)="onImageSelected($event)" />
    </div>
    <div *ngIf="!plantToEdit">
      <button
        type="submit"
        [disabled]="plantForm.invalid || uploading"
        class="btn btn-addPlant"
      >
        {{
          uploading
            ? ("plant.uploading" | translate)
            : ("plant.AddPlant" | translate)
        }}
      </button>
    </div>

    <div *ngIf="plantToEdit">
      <button
        type="submit"
        class="btn btn-success w-100"
        [disabled]="plantForm.invalid || uploading"
      >
        {{ "plant.save" | translate }}
      </button>

      <button
        type="button"
        class="btn btn-secondary mt-2 w-100"
        (click)="cancelEdit.emit()"
      >
        {{ "plant.cancel" | translate }}
      </button>
    </div>
  </form>
</div>
<p-toast position="bottom-left"></p-toast>
