<div class="profile-container" *ngIf="client">
  <ng-container *ngIf="client.approvalStatus === 'approved'">
    <div class="profile-details" *ngIf="!editMode; else editModeTemplate">
      <div class="image-upload">
        <div class="profile-image-wrapper">
          <img
            [src]="client.imageProfile || defaultProfileImage"
            alt="Profile Picture"
            class="profile-image"
          />
          <label
            for="profileImageInput"
            class="edit-icon"
            title="Edit Profile Picture"
            >✏️</label
          >
          <input
            id="profileImageInput"
            type="file"
            (change)="onProfileImageSelected($event)"
            hidden
            accept="image/*"
          />
        </div>
      </div>

      <div class="details">
        <p><strong>Name:</strong> {{ client.name }}</p>
        <p><strong>Email:</strong> {{ client.email }}</p>
        <p><strong>Phone:</strong> {{ client.phone }}</p>
        <p><strong>Bank Name:</strong> {{ client.bankName }}</p>
        <p><strong>Bank Account:</strong> {{ client.bankAccount }}</p>
        <p><strong>Address:</strong> {{ client.address }}</p>
      </div>

      <div class="edit-button">
        <button (click)="editProfile()">Edit</button>
      </div>
    </div>

    <ng-template #editModeTemplate>
      <div class="edit-form">
        <label>
          Name:
          <input [(ngModel)]="editForm.name" />
        </label>
        <label>
          Email:
          <input [(ngModel)]="editForm.email" />
        </label>
        <label>
          Phone:
          <input [(ngModel)]="editForm.phone" />
        </label>
        <label>
          Bank Name:
          <input [(ngModel)]="editForm.bankName" />
        </label>
        <label>
          Bank Account:
          <input [(ngModel)]="editForm.bankAccount" />
        </label>
        <label>
          Address:
          <input [(ngModel)]="editForm.address" />
        </label>

        <button (click)="saveProfileChanges()" class="btn btn-success">
          Save
        </button>
        <br />
        <button (click)="cancelEdit()" class="btn btn-secondary">Cancel</button>
      </div>
    </ng-template>
  </ng-container>
</div>
