<div class="profile-container" *ngIf="client">
  <h2>Welcome, {{ client.name }}</h2>

  <div *ngIf="approvalMessage" class="approval-message">
    {{ approvalMessage }}
  </div>

  <div *ngIf="client.approvalStatus === 'approved'">
    <div class="profile-details">
      <p><strong>Email:</strong> {{ client.email }}</p>
      <p><strong>Phone:</strong> {{ client.phone }}</p>
      <p><strong>Bank Name:</strong> {{ client.bankName }}</p>
      <p><strong>Bank Account:</strong> {{ client.bankAccount }}</p>
      <p><strong>Address:</strong> {{ client.address }}</p>
    </div>
  </div>
  <div>
    <button (click)="addPlant()">Add plant</button>
  </div>
</div>
