<header class="header">
  <nav>
    <div class="nav-items-container">
      <div class="nav-logo">
        <a routerLink="/">
          <img src="assets/image/ghosn home-01.png" class="logo" alt="logo" />
        </a>
        <div class="nav-items" *ngIf="userType !== 'customer'">
          <a routerLink="/home">HOME</a>
          <a routerLink="/about">ABOUT</a>
          <a routerLink="/contact">CONTACT</a>
        </div>
      </div>
      <div class="nav-links" *ngIf="!isLoggedIn">
        <a routerLink="/signin" class="nav-link-btn nav-link-signin">SIGN IN</a>
        <a routerLink="/signup" class="nav-link-btn nav-link-signup">SIGNUP</a>
      </div>

      <!-- <div class="nav-links" *ngIf="isLoggedIn">
        <span>Welcome, {{ userType }}</span>
        <button (click)="logout()" class="nav-link-btn nav-link-logout">
          Logout
        </button>
      </div> -->
      <div
        class="nav-links customer-nav"
        *ngIf="isLoggedIn && userType === 'customer'"
      >
        <a routerLink="/customer-account" class="nav-link-btn">
          <img
            src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1748283052/profile_1_fc9nw0.png"
            alt="Profile"
          />
          My Account</a
        >
        <a (click)="openDrawer()" class="nav-link-btn"> Cart </a>
        <!-- <div class="nav-link-btn" (click)="logout()">
          <img
            src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1748283954/logout_15604119_fwruyw.png"
            alt="Logout"
          />
          <span class="logout">Logout</span>
        </div> -->
      </div>

      <div class="hamburger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </nav>
</header>
<div class="drawer" [class.open]="isDrawerOpen">
  <button class="close-btn" (click)="closeDrawer()">X</button>
  <app-cart></app-cart>
</div>

<div class="backdrop" *ngIf="isDrawerOpen" (click)="closeDrawer()"></div>
