<header class="header">
  <nav>
    <div class="nav-items-container">
      <div class="nav-logo">
        <a routerLink="/">
          <img src="assets/image/ghosn home-01.png" class="logo" alt="logo" />
        </a>
        <div class="nav-items" *ngIf="!isLoggedIn">
          <a routerLink="/">{{ "header.HOME" | translate }}</a>
          <a [routerLink]="['/']" fragment="about">{{
            "header.ABOUT" | translate
          }}</a>
          <a [routerLink]="['/']" fragment="join">{{
            "header.CONTACT" | translate
          }}</a>
        </div>
      </div>
      <div class="nav-links">
        <a routerLink="/signin" class="nav-link-btn nav-link-signin">{{
          "header.SIGNIN" | translate
        }}</a>
        <a routerLink="/signup" class="nav-link-btn nav-link-signup">{{
          "header.SIGNUP" | translate
        }}</a>
      </div>
      <div
        class="nav-links customer-nav"
        *ngIf="isLoggedIn && userType === 'customer'"
      >
        <a routerLink="/customer-account" class="nav-link-btn">
          <img
            src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1748283052/profile_1_fc9nw0.png"
            alt="Profile"
          />
          {{ "header.My Account" | translate }}</a
        >
        <a (click)="openDrawer()" class="nav-link-btn cart-icon-wrapper">
          <img
            src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1748688485/shopping-cart_6644958_sm92gj.png"
            alt="cart"
            class="cart-icon-img"
          />
          <span class="cart-count-badge">{{
            cartService.cartCount$ | async
          }}</span>
        </a>
      </div>

      <div
        class="nav-links customer-nav"
        *ngIf="isLoggedIn && userType === 'client'"
      >
        <a routerLink="/client-account" class="nav-link-btn">
          <img
            src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1748283052/profile_1_fc9nw0.png"
            alt="Profile"
          />
          {{ "header.My Account" | translate }}</a
        >
      </div>

      <div class="hamburger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </nav>
</header>

<div class="drawer" [class.open]="isDrawerOpen">
  <div class="cart-header">
    <h4>{{ "drawer.cart" | translate }}</h4>
    <button class="close-btn" (click)="closeDrawer()">⨉</button>
  </div>
  <app-drawer-content (closeDrawer)="closeDrawer()"></app-drawer-content>
</div>

<div class="backdrop" *ngIf="isDrawerOpen" (click)="closeDrawer()"></div>
