<header class="header">
  <nav>
    <div class="nav-items-container">
      <div class="nav-logo">
        <a routerLink="/">
          <img src="assets/image/ghosn home-01.png" class="logo" alt="logo" />
        </a>
        <div class="nav-items">
          <a routerLink="/home">HOME</a>
          <a routerLink="/about">ABOUT</a>
          <a routerLink="/contact">CONTATCT</a>
        </div>
      </div>
      <div class="nav-links" *ngIf="!isLoggedIn">
        <a routerLink="/signin" class="nav-link-btn nav-link-signin">SIGN IN</a>
        <a routerLink="/signup" class="nav-link-btn nav-link-signup">SIGNUP</a>
      </div>

      <div class="nav-links" *ngIf="isLoggedIn">
        <span>Welcome, {{ userType }}</span>
        <button (click)="logout()" class="nav-link-btn nav-link-logout">
          Logout
        </button>
      </div>

      <div class="hamburger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </nav>
</header>
