<p-toast></p-toast>
<div class="container">
  <nav class="nav-tabs">
    <button
      *ngFor="let category of categories"
      (click)="navigateToCategory(category)"
      [class.active]="category === activeCategory"
    >
      {{ "category." + category | translate }}
    </button>
  </nav>

  <div class="plant-grid">
    <ng-container *ngIf="filteredPlants.length > 0">
      <div
        *ngFor="let plant of filteredPlants"
        class="plant-card"
        (click)="goToPlantDetails(plant)"
      >
        <img [src]="plant.image" [alt]="plant.name" />
        <h3>{{ plant.name }}</h3>
        <p>
          {{
            plant.description.length > 15
              ? plant.description.substring(0, 15) + "..."
              : plant.description
          }}<a (click)="goToPlantDetails(plant)" class="more-details">
            {{ "store.moreDetails" | translate }}
          </a>
        </p>

        <span class="price"
          >{{ plant.price }} {{ "orders.Jd" | translate }}</span
        >

        <div class="custom-button-group">
          <button
            class="main-btn"
            (click)="addToCart(plant); $event.stopPropagation()"
          >
            {{ "store.addTocart" | translate }}
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
