<div class="orders-wrapper">
  <div class="tabs">
    <button
      [class.active]="selectedTab === 'in_progress'"
      (click)="selectTab('in_progress')"
    >
      {{ "orders.processing" | translate }}
    </button>
    <button
      [class.active]="selectedTab === 'completed'"
      (click)="selectTab('completed')"
    >
      {{ "orders.completed" | translate }}
    </button>
    <button
      [class.active]="selectedTab === 'cancelled'"
      (click)="selectTab('cancelled')"
    >
      {{ "orders.cancelled" | translate }}
    </button>
  </div>

  <div class="content">
    <div class="orders-container">
      <div *ngFor="let order of orders" class="order-card">
        <div class="order-header">
          <span class="order-id"
            >{{ "orders.order" | translate }} #{{ order.id }}</span
          >
          <span class="order-date">{{ order.date | date : "mediumDate" }}</span>
        </div>

        <div class="plants-grid">
          <div *ngFor="let plant of order.plant" class="plant-card">
            <img [src]="plant.image" alt="{{ plant.name }}" />
            <div class="plant-info">
              <h4>{{ plant.name }}</h4>
              <p>{{ plant.price }} {{ "orders.Jd" | translate }}</p>
            </div>
          </div>
        </div>

        <div class="total-section">
          <strong>{{ "orders.total" | translate }} : </strong>
          {{ order.paymentAmount }}
          {{ "orders.Jd" | translate }}
        </div>
      </div>
    </div>

    <ng-template #noOrders>
      <p>{{ "orders.NoOrders" | translate }}</p>
      <button class="browse-btn" (click)="browseProducts()">
        {{ "orders.button" | translate }}
      </button>
    </ng-template>
  </div>
</div>
