<section class="container">
  <div class="main-container">
    <div class="signup">
      <h2>Sign Up as Client</h2>
      <div class="form-container inputbox">
        <form [formGroup]="formClientSignup" (ngSubmit)="onSubmit()">
          <div class="name">
            <input type="text" formControlName="name" placeholder="Name" />
            <div
              class="errorMessage"
              *ngIf="
                formClientSignup.get('name')?.touched &&
                formClientSignup.get('name')?.invalid
              "
            >
              <samp *ngIf="formClientSignup.get('name')?.errors?.['required']">
                Name is required
              </samp>
            </div>
          </div>
          <div class="email">
            <input type="email" formControlName="email" placeholder="Email" />
            <div
              class="errorMessage"
              *ngIf="
                formClientSignup.get('email')?.touched &&
                formClientSignup.get('email')?.invalid
              "
            >
              <samp *ngIf="formClientSignup.get('email')?.errors?.['required']">
                Email is required
              </samp>
              <samp *ngIf="formClientSignup.get('email')?.errors?.['email']">
                Valid email is required
              </samp>
            </div>
          </div>
          <div class="password">
            <input
              type="password"
              formControlName="password"
              placeholder="Password"
            />
            <div
              class="errorMessage"
              *ngIf="
                formClientSignup.get('password')?.touched &&
                formClientSignup.get('password')?.invalid
              "
            >
              <samp
                *ngIf="formClientSignup.get('password')?.errors?.['required']"
              >
                Password is required
              </samp>
              <samp
                *ngIf="formClientSignup.get('password')?.errors?.['minlength']"
              >
                Minimum 6 characters
              </samp>
              <samp
                *ngIf="
                  formClientSignup.get('password')?.errors?.['pattern'] &&
                  formClientSignup.get('password')?.touched
                "
              >
                Password must contain at least one uppercase letter, one
                lowercase letter, and one special character
              </samp>
            </div>
          </div>

          <div class="confirm-password">
            <input
              type="password"
              formControlName="confirmPassword"
              placeholder="Confirm Password"
            />
            <div
              class="errorMessage"
              *ngIf="
                formClientSignup.get('confirmPassword')?.touched &&
                formClientSignup.get('confirmPassword')?.invalid
              "
            >
              <samp
                *ngIf="
                  formClientSignup.get('confirmPassword')?.errors?.['required']
                "
              >
                Confirm Password is required
              </samp>
            </div>
          </div>

          <div class="phone">
            <input type="text" formControlName="phone" placeholder="Phone" />
            <div
              class="errorMessage"
              *ngIf="
                formClientSignup.get('phone')?.touched &&
                formClientSignup.get('phone')?.invalid
              "
            >
              <samp *ngIf="formClientSignup.get('phone')?.errors?.['required']">
                Phone is required
              </samp>
            </div>
          </div>

          <div class="address">
            <input
              type="text"
              formControlName="address"
              placeholder="Address"
            />
            <div
              class="errorMessage"
              *ngIf="
                formClientSignup.get('address')?.touched &&
                formClientSignup.get('address')?.invalid
              "
            >
              <samp
                *ngIf="formClientSignup.get('address')?.errors?.['required']"
              >
                Address is required
              </samp>
            </div>
          </div>

          <button type="submit" [disabled]="formClientSignup.invalid">
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
