<section class="container">
  <div class="main-container">
    <div class="signup">
      <div class="form-container inputbox">
        <form [formGroup]="formClientSignup" (ngSubmit)="onSubmit()">
          <div class="name">
            <input
              type="text"
              formControlName="name"
              placeholder="{{ 'client-signup.name' | translate }}"
            />
            <div
              class="errorMessage"
              *ngIf="
                formClientSignup.controls['name']?.touched &&
                formClientSignup.controls['name']?.invalid
              "
            >
              <samp
                *ngIf="formClientSignup.controls['name']?.errors?.['required']"
              >
                {{ "massages.nameRequired" | translate }}
              </samp>
            </div>
          </div>
          <div class="email">
            <input
              type="email"
              formControlName="email"
              placeholder="{{ 'client-signup.email' | translate }}"
            />
            <div
              class="errorMessage"
              *ngIf="
                formClientSignup.controls['email']?.touched &&
                formClientSignup.controls['email']?.invalid
              "
            >
              <samp
                *ngIf="formClientSignup.controls['email']?.errors?.['required']"
              >
                {{ "massages.emailRequired" | translate }}
              </samp>
              <samp
                *ngIf="formClientSignup.controls['email']?.errors?.['email']"
              >
                {{ "massages.emailInvalid" | translate }}
              </samp>
            </div>
          </div>
          <div class="password">
            <input
              type="password"
              formControlName="password"
              placeholder="{{ 'client-signup.password' | translate }}"
            />
            <div
              class="errorMessage"
              *ngIf="
                formClientSignup.controls['password']?.touched &&
                formClientSignup.controls['password']?.invalid
              "
            >
              <samp
                *ngIf="formClientSignup.controls['password']?.errors?.['required']"
              >
                {{ "massages.passwordRequired" | translate }}
              </samp>
              <samp
                *ngIf="formClientSignup.controls['password']?.errors?.['minlength']"
              >
                {{ "massages.passwordMinLength" | translate }}
              </samp>
              <samp
                *ngIf="
                  formClientSignup.controls['password']?.errors?.['pattern'] &&
                  formClientSignup.controls['password']?.touched
                "
              >
                {{ "massages.passwordPattern" | translate }}
              </samp>
            </div>
          </div>

          <div class="confirm-password">
            <input
              type="password"
              formControlName="confirmPassword"
              placeholder="{{ 'client-signup.confirmPassword' | translate }}"
            />
            <div
              class="errorMessage"
              *ngIf="
                formClientSignup.controls['confirmPassword']?.touched &&
                formClientSignup.controls['confirmPassword']?.invalid
              "
            >
              <samp
                *ngIf="
                  formClientSignup.controls['confirmPassword']?.errors?.['required']
                "
              >
                {{ "massages.confirmPasswordRequired" | translate }}
              </samp>
            </div>
            <div
              class="errorMessage"
              *ngIf="formClientSignup.errors?.['passwordMismatch']"
            >
              <samp>{{ "massages.passwordsNotMatch" | translate }}</samp>
            </div>
          </div>
          <div class="phone">
            <input
              type="text"
              formControlName="phone"
              placeholder="{{ 'client-signup.phone' | translate }}"
            />
            <div
              class="errorMessage"
              *ngIf="
                formClientSignup.controls['phone']?.touched &&
                formClientSignup.controls['phone']?.invalid
              "
            >
              <samp
                *ngIf="formClientSignup.controls['phone']?.errors?.['required']"
              >
                {{ "massages.phoneRequired" | translate }}
              </samp>
              <samp
                *ngIf="formClientSignup.controls['phone']?.errors?.['pattern']"
              >
                {{ "massages.phoneInvalid" | translate }}
              </samp>
            </div>
          </div>

          <div class="bank-name">
            <input
              type="text"
              formControlName="bankName"
              placeholder="{{ 'client-signup.bankName' | translate }}"
            />
            <div
              class="errorMessage"
              *ngIf="
                formClientSignup.controls['bankName']?.touched &&
                formClientSignup.controls['bankName']?.invalid
              "
            >
              <samp
                *ngIf="formClientSignup.controls['bankName']?.errors?.['required']"
              >
                {{ "massages.bankNameRequired" | translate }}
              </samp>
            </div>
          </div>

          <div class="bank-account">
            <input
              type="text"
              formControlName="bankAccount"
              placeholder="{{ 'client-signup.bankAccount' | translate }}"
            />
            <div
              class="errorMessage"
              *ngIf="
                formClientSignup.controls['bankAccount']?.touched &&
                formClientSignup.controls['bankAccount']?.invalid
              "
            >
              <samp
                *ngIf="formClientSignup.controls['bankAccount']?.errors?.['required']"
              >
                {{ "massages.bankAccountRequired" | translate }}
              </samp>
            </div>
          </div>

          <div class="address">
            <input
              type="text"
              formControlName="address"
              placeholder="{{ 'client-signup.address' | translate }}"
            />
            <div
              class="errorMessage"
              *ngIf="
                formClientSignup.controls['address']?.touched &&
                formClientSignup.controls['address']?.invalid
              "
            >
              <samp
                *ngIf="formClientSignup.controls['address']?.errors?.['required']"
              >
                {{ "massages.addressRequired" | translate }}
              </samp>
            </div>
          </div>

          <button type="submit" [disabled]="formClientSignup.invalid">
            {{ "client-signup.createAccount" | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="info-side">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/image/ghosn home-01.png" alt="logo" class="logo" />
      </a>
    </div>
    <div class="content welcome-message">
      <h3>{{ "client-signup.welcomeTitle" | translate }}</h3>
      <p class="highlighted-paragraph">
        {{ "client-signup.welcomeParagraph1" | translate }}
      </p>
      <p>{{ "client-signup.welcomeParagraph2" | translate }}</p>
      <p>{{ "client-signup.welcomeParagraph3" | translate }}</p>
      <p class="highlighted-paragraph">
        {{ "client-signup.welcomeParagraph4" | translate }}
      </p>
      <p>{{ "client-signup.welcomeParagraph5" | translate }}</p>
    </div>
  </div>
</section>
<p-toast></p-toast>
