.auth-page {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: transparent;
}

.sign-up-form {
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sign-up-form h1 {
  font-size: 26px;
  margin-bottom: 12px;
  color: (--primary-color);
  text-align: center;
}

.sign-up-form input {
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.sign-up-form input:focus {
  outline: none;
  box-shadow: 0 0 0 3px #a3d18c55;
  border-color: #a3d18c;
}

.input-wrapper {
  position: relative;
}

.password-input {
  width: 100%;
  padding-right: 40px;
}

.toggle-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: 18px;
}

small {
  font-size: 12px;
  color: #d32f2f;
  margin-top: -8px;
  padding-left: 4px;
}

.sign-up-form button {
  padding: 12px;
  background-color: var(--text-color);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  align-self: center;
  width: 200px;
}

.sign-up-form button:hover {
  background-color: var(--text-color);
}

.sign-up-form button:disabled {
  background-color: var(--heading-color);
  cursor: not-allowed;
}

.info-side {
  flex: 1;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  padding-right: 0;
}

:host-context([dir="ltr"]) .toggle-icon {
  right: 10px;
  left: auto;
}

:host-context([dir="rtl"]) .toggle-icon {
  left: 10px;
  right: auto;
}
