<div class="add-driver">
  <h2>Add new driver</h2>

  <form [formGroup]="driverForm" (ngSubmit)="onSubmit()">
    <label>Full Name:</label>
    <input type="text" formControlName="name" />

    <label> VehicleType:</label>
    <input type="text" formControlName="vehicleType" />

    <label>ModelName :</label>
    <input type="text" formControlName="modelName" />

    <button type="submit" [disabled]="driverForm.invalid"> ✔️Add</button>
  </form>

  <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
</div>

<div class="top-bar">
  <button  (click)="driversList()"   class="btn-approved">
  View drivers list✅
  </button>
</div>
