<div class="home-container">
  <div class="welcome-home">
    <div>
      <h1 class="welcome-home-text">
        <samp> Every plant tells a story.. </samp>
        Let's plant beauty in the corners of your home
      </h1>
      <button routerLink="/store" class="welcome-home-button">Shop Now</button>
    </div>
    <img src="{{ 'img.logo' | translate }}" alt="plant" class="imgWelcome" />
  </div>

  <div class="categories">
    <h2><span>Explore Our Plant Picks</span></h2>

    <div class="categories-container">
      <div class="category-card">
        <img
          src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1748093775/indoor-plants-studio_2_qzbuko.jpg"
          alt="Indoor Plants"
        />
        <h3>Indoor Plants</h3>
      </div>
      <div class="category-card">
        <img
          src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1748093608/indoor-plants-studio_1_tdby3h.jpg"
          alt="Outdoor Plants"
        />
        <h3>Outdoor Plants</h3>
      </div>
      <div class="category-card">
        <img
          src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1748094722/close-up-orange-tree-with-many-leaves_n6cmld.jpg"
          alt="Edible Plants"
        />
        <h3>Edible Plants</h3>
      </div>
      <div class="category-card">
        <img
          src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1748081318/plants-pot-with-watering-can_p7fwzs.jpg"
          alt="Gardening Tools"
        />
        <h3>Gardening Tools</h3>
      </div>
    </div>
  </div>

  <div class="about-section">
    <h2 class="about-section-title">About Us</h2>
    <div class="all-about-box">
      <div class="about-box">
        <i class="ri-leaf-line icon"></i>
        <h3 class="about-title">Who We Are</h3>
        <p class="about-text">
          At Ghosn, we believe every plant brings life and beauty to any space.
          We're more than a plant store — we're a green passion and a growing
          community of nature lovers.
        </p>
      </div>
      <div class="about-box">
        <i class="ri-seedling-line icon"></i>
        <h3 class="about-title">What We Offer</h3>
        <p class="about-text">
          We handpick a beautiful selection of indoor & outdoor plants,
          succulents, and elegant care tools — all delivered with love and ready
          to thrive with you.
        </p>
      </div>
      <div class="about-box">
        <i class="ri-truck-line icon"></i>
        <h3 class="about-title">How We Deliver</h3>
        <p class="about-text">
          With fast, reliable delivery and professional drivers, your plants
          arrive fresh and on time — to your home, office, or as a thoughtful
          gift.
        </p>
      </div>
    </div>
  </div>

  <div class="client-join">
    <img src="assets/leaves.png" alt="plant" />
    <h2>
      Don't just be a shopper...be part of the Ghosn community and cultivate
      your passion with us!
    </h2>
    <button routerLink="/signup-client">join us</button>
  </div>

  <div class="driver-join">
    <h2>
      Become a Ghosn Plant Ambassador - join us as a driver and make a
      difference with every delivery!
    </h2>
    <button routerLink="/signup-driver">join us</button>
    <img src="assets/leaves.png" alt="plant" />
  </div>
  <div class="contact"></div>
</div>
