<div class="home-container">
  <div class="welcome-home">
    <div class="welcome-home-text-section">
      <h1 class="welcome-home-text">
        <samp>{{ "homepage.title1" | translate }} </samp>
        {{ "homepage.title2" | translate }}
      </h1>
      <button routerLink="/store" class="welcome-home-button shop-now-button">
        {{ "homepage.button" | translate }}
      </button>
    </div>
    <img src="{{ 'img.logo' | translate }}" alt="plant" class="imgWelcome" />
  </div>

  <div class="categories">
    <div class="scroll-gallery-container">
      <div
        class="scroll-gallery"
        #scrollGallery
        (scroll)="onScroll(scrollGallery)"
      >
        <div class="scroll-item" *ngFor="let image of images">
          <a [routerLink]="image.link">
            <img [src]="image.src" [alt]="image.alt" />
            <div class="caption">{{ image.alt }}</div>
          </a>
        </div>
      </div>

      <div class="scroll-indicators">
        <span
          class="dot"
          *ngFor="let image of images; let i = index"
          [class.active]="i === activeIndex"
        ></span>
      </div>
    </div>
  </div>

  <div class="about-section" id="about">
    <h2 class="about-section-title">{{ "homepage.about" | translate }}</h2>
    <div class="all-about-box">
      <div class="about-box">
        <i class="ri-leaf-line icon"></i>
        <h3 class="about-title">{{ "homepage.Who We Are" | translate }}</h3>
        <p class="about-text">
          {{ "homepage.Who We Are title" | translate }}
        </p>
      </div>
      <div class="about-box">
        <i class="ri-seedling-line icon"></i>
        <h3 class="about-title">{{ "homepage.What We Offer" | translate }}</h3>
        <p class="about-text">
          {{ "homepage.What We Offer title" | translate }}
        </p>
      </div>
      <div class="about-box">
        <i class="ri-truck-line icon"></i>
        <h3 class="about-title">{{ "homepage.How We Deliver" | translate }}</h3>
        <p class="about-text">
          {{ "homepage.How We Deliver title" | translate }}
        </p>
      </div>
    </div>
  </div>

  <div class="join-section" id="joinUs">
    <div class="join-img">
      <img
        src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1748386589/t_ftewud.jpg"
        alt="plant"
      />
    </div>
    <div class="join-text">
      <h2>
        {{ "homepage.clienttitle" | translate }}
      </h2>
      <button routerLink="/signup-client">
        {{ "homepage.joinusClient" | translate }}
      </button>
    </div>
  </div>

  <div class="join-section driver-join">
    <div class="join-text">
      <h2>
        {{ "homepage.drivertitle" | translate }}
      </h2>
      <button routerLink="/signup-driver">
        {{ "homepage.joinusDriver" | translate }}
      </button>
    </div>
    <div class="join-img joindriver-img">
      <img
        src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1748356864/ghosn_home_Recovered_lgwohy.jpg"
        alt="plant"
      />
    </div>
  </div>
  <div class="contact"></div>
</div>
