/* You can add global styles to this file, and also import other style files */
@use "./assets/styles/colors" as *;

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

html[dir="rtl"] .toggle-icon{
  left: 60px !important;
  right: auto !important;
}

html[dir="rtl"] .toggle-password-icon {
  left: 12px !important;
  right: auto !important;
}